#conteneur {
  display: block;
  margin-top:10em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius:50px;
  padding-left: 2em;
  padding-right: 2em;
  /*text-align: left;*/
}
