

#conteneur {
  display: block;
  padding-top:10em;
margin-left: auto;
margin-right: auto;
width: 60em;
/*background-color: rgba(#ffffff, 0);*/
  border-radius:50px;
  /*text-align: left;*/

}


#test
{

	  border-radius:50px;

}

#text
{
	margin-left: 100px;
}

.jumbotron-h1{
}

#form {
  margin-left: 5em;
  margin-right: 5em;
}
