

#conteneur {
  display: block;

margin-left: auto;
margin-right: auto;
width: 60%;
	  border-radius:50px;
/*background-color: rgba(#ffffff, 0);*/
  /*border-radius:50px;*/
  /*text-align: left;*/

}

#info{
  margin-left: 5em;
  margin-right: 5em;
}



#text{
	margin-left: 100px;
}


#form {
  margin-left: 5em;
  margin-right: 5em;
}
