
#conteneur {
  display: block;
margin-top : 10em;
margin-left: auto;
margin-right: auto;
width: 60%;
  /*text-align: left;*/
  	  border-radius:50px;

}



#btndeconnexion{
float: right;
margin-right: 5em;
}



#text
{
	margin-left: 5em;
	margin-right: 5em;
}

.jumbotron-h1{
}

#form{
  margin-left: 5em;
	margin-right: 5em;
}
